.profile-pic {
    height: 65%;
    width: 75%;
    border-radius: 10% 30% 50% 70%;
}

/* .background {
    background-image: url('../assets/sarah-rietkerk.jpg');
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-filter: blur(2rem);
    -moz-filter: blur(2rem);
    filter: blur(2rem);
    -o-filter: blur(2rem);
    -ms-filter: blur(2rem);
    height: 100%;
    width: 100%;
    background-position: center;
} */

.intro-content {
    background-color: rgba(0, 0, 0, 0.409);
    width: 100%;
    height: 100%;
}

.intro-content svg {
    margin-left: -5.5rem;
    margin-top: 4rem;
}

.intro-content text {
    fill: white;
}

.intro {
    height: 98vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/sarah-rietkerk-cropped.jpg');
    background-position: 49% 35%;
}